<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadastro do Produto - Delícias da Dudah</title>
  <link rel="stylesheet" href="css">
</head>
<body>

  <header>
    <h1>Delícias da Dudah</h1>
    <p>Cadastrar produto:🍬</p>
  </header>

  <main>
    <section class="produto">
      <h2>Cadastro do produto</h2>

      <form action="/cadastrarproduto" method="post"> <!--criar rota no servidor-->
        <label for="nomep">Nome:</label>
         <input type="text" id="nomep" name="nomep" placeholder="digite o nome" required><br>

        <label for="preco">preço:</label>
        <input type="number" id="preco" name="preco" placeholder="digite o valor" step="0.01" required><br>

        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" placeholder="Digite a descrição"><br>

        <button type="submit">Cadastrar</button>
      </form>

            <!-- Exibir mensagem de erro se existir -->
      {% if msg %}
        <p style="color:red;">{{ msg }}</p>
      {% endif %}

    </section>
  </main>

  <script src=""></script>

  <a href="/voltar" class="voltar">
  ⬅ Voltar para o site principal
  </a>

  <footer>
    <p>&copy; 2025 Delícias da Dudah — Todos os direitos reservados</p>
  </footer>

</body>
</html>
