<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadastro do Produto - Delícias da Dudah</title>
  <link rel="stylesheet" href="../static/css/">
</head>
<body>
<!--corrigir erros; requisiçoes erronias-->
  <header>
    <h1>Delícias da Dudah</h1>
    <p>Cadastrar produto:🍬</p>
  </header>

  <main>
    <section class="produto">
      <h2>Cadastro do produto</h2>

      <form action="/cadastrarproduto" method="Get"> <!--criar rota no servidor-->
        <label>Nome:</label>
         <input type="text" name="nomep" placeholder="digite o nome"><br>

        <label>Id:</label> <!--criar rota no servidor; id_produto para chamar o id serve p/ chamar o elemnto dentro da pagina-->
        <input type="text" name="id_produto" placeholder="digite o codigo do produto"><br>

        <label>preço:</label>
        <input type="number" name="preco" placeholder="digite o valor"><br>

        <label>Descrição:</label>
        <input type="text" name="descricao">

        <button type="submit" onclick="()" href="../templates/paginainicial.html">Cadastrar</button> <!--Ajustar-->
      </form>
    </section>
  </main>


  <script src="../static/.js"></script>

  <a href="/voltar" class="voltar">
  ⬅ Voltar para o site principal
  </a>

  <footer>
    <p>&copy; 2025 Delícias da Dudah — Todos os direitos reservados</p>
  </footer>

</body>
</html>
