<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>menu - Delícias da Dudah</title>
  <link rel="stylesheet" href="../static/css/menu.css">
</head>
<body>
  <section class="cardapio">
    <h2>🍰 menu dos doces</h2>

    <div class="categoria">
      <h3>Bolos</h3>
      <ul>
        <li><span>Bolo de Chocolate</span><span>R$ 25,00</span></li>
        <li><span>Bolo de Cenoura com cobertura</span><span>R$ 22,00</span></li>
        <li><span>Bolo de Leite Ninho</span><span>R$ 28,00</span></li>
      </ul>
    </div>

    <div class="categoria">
      <h3>Docinhos</h3>
      <ul>
        <li><span>Brigadeiro Gourmet</span><span>R$ 2,50</span></li>
        <li><span>Beijinho</span><span>R$ 2,50</span></li>
        <li><span>Quindim</span><span>R$ 3,00</span></li>
      </ul>
    </div>
  </section>


  <a href="/voltar" class="voltar">
    ⬅ Voltar para o pagina principal
  </a>

</body>
</html>