<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/paginainicial.css">
    <title>Delícias da Dudah</title>

</head>
<body>

  <header>
    <h1>Delícias da Dudah</h1>
    <p>Doces que aquecem o coração 🍰</p>
  </header>

  <nav>
    <a href="#">Início</a>
    <a href="/menu">Menu</a>
    <a href="/cadastrar">Cadastro</a>
    <a href="/fazerlogin">login</a>
    <a href="/contato">Contato</a>
  </nav>

  <div class="hero">
    <h2>Experimente nossos bolos caseiros!</h2>
  </div>

  <section class="section" id="menu">
    <h3>Nosso Menu</h3>
    <table>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
      </tr>
      <tr>
        <td>Bolo de Chocolate</td>
        <td>R$ 25,00</td>
      </tr>
      <tr>
        <td>Cupcake de Morango</td>
        <td>R$ 6,00</td>
      </tr>
      <tr>
        <td>Brigadeiro Gourmet</td>
        <td>R$ 2,50</td>
      </tr>
      <tr>
        <td>Big Bombom</td>
        <td>R$ 5,00</td>
      </tr>
    </table>

  <footer>
    <p>&copy; 2025 Delícias da Dudah — Todos os direitos reservados</p>
  </footer>
</body>
</html>
