<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadastro de Cliente - Delícias da Dudah</title>
  <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>

  <header>
    <h1>Delícias da Dudah</h1>
    <p>Cadastre-se para receber novidades e promoções 🍬</p>
  </header>


  <a href="/voltar" class="voltar">
  ⬅ Voltar para o site principal
  </a>

  <main>
    <section class="formulario">
      <h2>Cadastro de Cliente</h2>
      <form action="/cadastrar" method="post">
        <label for="nomeuser">Nome completo:</label>
         <input type="text" id="nomeuser" name="nomeuser" placeholder="digite seu nome"><br>

        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" placeholder="digite seu email"><br>

        <label>Senha:</label>
        <input type="password" id="senha" name="senha" placeholder="digite sua senha"><br>
        <span id="errosenha"></span> <!--entender-->
        <input type="password" id="confirmacao" name="confirmacao" placeholder="repita sua senha"><br>

        <label>Endereço:</label>
        <input type="text" name="endereco">

        <button type="submit" onclick="verificar_senha()" id="idbotao" href="../templates/login.html">Cadastrar</button>
      </form>
    </section>
  </main>


  <script src="../static/script.js"></script>

  <footer>
    <p>&copy; 2025 Delícias da Dudah — Todos os direitos reservados</p>
  </footer>

</body>
</html>
